body {
  background: #ffffff;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.main-header_gray {
  background: #f4f7f9;
}

.main-header__main-nav_black-gray {
  background: #293449;
  color: #ffffff;
}

.main-header__search::before {
  content: url("../img/icons/icon-search.svg");
}

.main-header__favourites::before {
  content: url("../img/icons/icon-favourites.svg");
}

.main-header__cart::before {
  content: url("../img/icons/icon-cart.svg");
}

.main-header__contacts__phone::before {
  content: url("../img/icons/icon-phone.svg");
}

.main-header__user li:first-child::before {
  content: url("../img/icons/icon-user.svg");
}

.main-header__user li:first-child::after {
  content: url("../img/icons/icon-login.svg");
}

/*add NEW picture*/

.container_black-gray {
  background: #293449;
  color: #ffffff;
}

.main-footer_dark-blue {
  background: #32425c;
}

.main-footer__social a {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  text-align: center;
  border-radius: 50%;
}

.main-footer__social__vk-btn {
  background: url("../img/icons/icon-vk.svg") no-repeat center;
}

.main-footer__social__fb-btn {
  background: url("../img/icons/icon-fb.svg") no-repeat center;
}

.main-footer__social__insta-btn {
  background: url("../img/icons/icon-insta.svg") no-repeat center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
